@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #F8E181, #FAAC6A);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #aa744892;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #D46D4F;
    text-align: center;
    text-shadow: 1px 1px 0px #a0543d66;
}

h2{
    color: #46988E;
}

p {
    text-align: justify;
}