body{
    background: rgb(244, 164, 67);
    font: normal 15pt Arial; 
}
header{
    color: aliceblue;
    text-align: center;
}
section{
    background-color: brown;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: aliceblue;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.503);
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}