@charset "UTF 8";

body {
    background-color: rgb(132, 107, 75);
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(172, 144, 59);
    background-color: black;
} 
h2 {
    color: rgb(172, 144, 59);
    background-color: black;
}
p {
    text-align: justify;
}